<!DOCTYPE html>
<html>
	<head>
		<title>Quora</title>
		<link type="text/css" rel="stylesheet" href="quora_design.css"/>
		<link type="text/css" rel="stylesheet" href="quora_nav.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
		<style>
			li#locate	{
				padding:2px;
				border:0px dashed #7DCEA0;
				
			}
			
			li#locate img	{
				height:17px;
				width:14px;
				margin-right:5px;
			}
			li	{
				text-align:left;
			}
		</style>
		<script>
			function addTopic(obj)	{
				console.log("Inside the addTopic function");
				console.log(obj.innerHTML);
				var feed=document.getElementById("feed-filter");
				feed=feed.parentNode;
				console.log(feed);
				
				var topics = feed.querySelectorAll("ul");
				//console.log("Child nodes of feed are"+feed.childNodes.length);
				console.log(topics[1]);
				var lists=topics[1].querySelectorAll("li");
				var lists_a;
				for(var i=0;i<lists.length;i++)	{
					console.log("Inside the loop");
					console.log(lists[i].innerHTML);
					lists_a=lists[i].querySelector("a");
					console.log(lists_a.innerHTML);
					var str=lists_a.innerHTML.trim(" ");
					//console.log(str);
					if(obj.innerHTML==str)	{
						console.log("Topic already exists");
						return;
					}
				}
				var a=document.createElement("a");
				var txt=document.createTextNode(obj.innerHTML);
				a.appendChild(txt);
				a.setAttribute("href","/home?topic="+obj.innerHTML);
				feed.appendChild(a);
				$.post('/home/add_topics',{topic_name:obj.innerHTML},function(data,status)	{
					console.log("Status",status);
				});
			}
		</script>
		<script>
			function toggleTopic(visibility)	{
				var feed;
				$.post('/home/edit',{text:visibility.innerHTML},function(data,status)	{
					console.log("Data is",data);
					if(visibility.innerHTML=="Edit")	{
						feed=document.getElementById("feed-filter");
						var div = document.createElement("div");
						div.setAttribute("id","topics");
						feed.appendChild(div);
						visibility.innerHTML="Done";
						console.log(data);
						var a;
						var ul=document.createElement("ul");
						for(var i=0;i<data.length;i++)	{
							var li=document.createElement("li");
							a=document.createElement("a");
							a.setAttribute("onclick","addTopic(this)");
							var textnode = document.createTextNode(data[i].topicname);
							a.appendChild(textnode);
							a.setAttribute("class","topic_names");
							li.appendChild(a);
							ul.appendChild(li);
							
						}
						div.appendChild(ul);
					}
					else	{
						var div = document.getElementById("topics");
						feed=document.getElementById("feed-filter");
						feed.removeChild(div);
						visibility.innerHTML = "Edit";
					}
					
				});
			}
		</script>
		<script>
			function getLocation()	{
			
				$.get("http://ipinfo.io",function(response)	{
					//console.log(response.ip);
					//city_location = response.city;
					console.log(response.city);
					var ul=document.getElementsByTagName("ul");
					var a=document.createElement("a");
					a.setAttribute("href","/home?location="+response.city);
					var txt=document.createTextNode(response.city);
					a.appendChild(txt);
					
					var li=document.createElement("li");
					li.setAttribute("id","locate");
					var img=document.createElement("img");
					img.setAttribute("src","location_icon.png");
					/*img.setAttribute("height","15px");
					img.setAttribute("width","15px");
					img.setAttribute("margin-right","5px");
					*/
					li.appendChild(img);
					li.appendChild(a);
					//li.appendChild(txt);
					ul[0].appendChild(li);
				},"jsonp");
				
			}
			
		</script>
	</head>
	<script src="menu_script.js"></script>
	<body onclick="hideAll();" onload="getLocation()">
			<nav>
				<a href="/home" id="first">
					<img src="home.png" class="icons"></img><!--Home-->
				</a>
				<a href="/home" >
					<img src="read.png" class="icons"></img><!--<p>Read</p>-->
				</a>
				<a href="/answer">
					<img src="answer.png" class="icons"></img><!--<p>Answer</p>-->
				</a>
				<a href="javascript:displayNotification();">
					<img src="notification.png" class="icons"></img>
				</a>
				<div id="notification">
					<header>
							<a href="/notifications"><p>See all notifications</p></a>
							
					</header>
					<article>
					</article>
				</div>
				<a href="javascript:displayProfile();">
					<img src="persom.png" class="icons"></img>
				</a>
				<div id="profile">
					<a>
					Profile
					</a>
					<a>
					Blogs
					</a>
					<a>
					Messages
					</a>
					<a>
					Your Content
					</a>
					<a>
					Stats
					</a>
					<a>
					Settings
					</a>
					<a href="/logout">
					Log Out
					</a>
				</div>
				
			
			</nav>
			
			<div id="search">
				<input type="text" name="search" placeholder="Search Quora"></input>
			</div>
			<aside>
				<header id="feed-filter">
					<h3>Feeds</h3>
					<button onclick = "toggleTopic(this)">Edit</button>
				</header>
				<ul>
				<% for(var i=0;i<topics.length;i++)	{%>
					<li>
						<a href="/home?topic=<%=topics[i]%>">
							<%=topics[i]%>
						</a>
					</li>	
				<%}%>
				</ul>
			</aside>
			<section id="posts">
				<article id="question">
					<header>
						<h3><%=name%>, What are you wondering about?</h3>
					<header>
					<article>
					</article>
				</article>
				
				<% for(var i=0;i<questions.length;i++)	{%>
					<article class="answers">
						<header>
							<p>Answer - <%= questions[i].topic %></p>
							<h3>
								<%= questions[i].question %>
							</h3>
						</header>
						<article class="content">
							<p>	
								<%= answers[i].answer %>
							</p>
						</article>
					</article>
				<% } %>
				
			</section>
		
	</body>
</html>